Insider {
  app-name = ""
}


spark {
  spark.checkpoint.dir = "/tmp"
  master = "local[*]"
  streaming.batch.interval = 2000
}


cassandra {
    hosts = ""
    keyspace = ""
    table = ""
}

kafka {
    bootstrab_servers = "localhost:9092"
    serializer = "org.apache.kafka.common.serialization.StringSerializer"
    zookeeper.connect = "localhost:2181"
    group.id = "spark-streaming-test"
    zookeeper.connection.timeout.ms = 1000
    metadata.broker.list = "localhost:9092"
    number.of.partitions = 2
}

Twitter {
    OAuthConsumerKey = ""
    OAuthConsumerSecret = ""
    OAuthAccessToken = ""
    OAuthAccessTokenSecret = ""
}